# ---------- Core ----------
streamlit==1.29.0
python-dotenv==1.0.0
langchain==0.3.10
langchain-core==0.3.70
langchain-community==0.3.10
langchain-text-splitters==0.3.10

# ---------- LLM Connectors ----------
langchain-groq==0.3.0
langchain-huggingface==0.3.0

# ---------- Embeddings & Vectorstore ----------
sentence-transformers==2.6.1
transformers==4.38.2
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
faiss-cpu==1.8.0

# ---------- Data Loading ----------
pypdf==3.11.0
